<h2 class="pt-4">About Me</h2>
<div class="text-justify">
  <p>
    I'm a passionate maker with a background in Music Arts Technology and Electrical Engineering. I previously founded and led Adventure Audio, where I designed and manufactured unique audio equipment for musicians. More recently, I worked as a Technology Development Scientist, developing advanced X-ray and photon imaging technology. I'm now embarking on a new adventure with my company, 8sevenC, creating innovative tools for musicians and audiophiles, with a growing focus on AI and Large Language Models.
  </p>
  <p>
    <a href="https://github.com/8sevenCentral/christiant.is-a.dev/blob/main/README.md" class="btn btn-outline" target="_blank" rel="noopener noreferrer">Detailed About Me</a>
  </p>
</div>
