<h2 class="pt-4">About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">A creative individual with an engineer's mindset and a passion for bringing ideas to life.</p>
<div class="d-sm-flex flex-wrap gutter-condensed text-justify mb-4 mx-1" style="font-size: 16px!important;">
    <p>I am a creative individual with an engineer's mindset and a passion for bringing ideas to life.
Skilled in machine operating, machine maintenance, strategic planning, circuit board design,
rapid prototyping, electronics testing, 3D print design, and product manufacturing. For the last
few years of experience managing my own company Adventure Audio, where I have gained
expertise in management, sales, distribution, customer relationships, retail partnerships, payroll
accounting, brand marketing, and supply chain management. Proven ability to work
independently and as part of a team, with a strong work ethic and a desire to contribute my
skills and experience to a challenging and rewarding farm work environment. Proven green
thumb with experience growing a variety of vegetables in personal gardens.
    </p>
</div>
